/*-----------------------*\
    $Variables
\*-----------------------*/
:root {
    /* Color palette */
    --color-first: #2196f3;
    --color-second: #1976d2;
    --color-amber: #ffc107;
    --color-bg: #e3f2fd;
    --color-text: #263238;

    --color-amber2: #fff8e1;
    --color-second2: #bbdefb;
    
    /* Color palette filters*/
    /* App conversos: https://codepen.io/sosuke/pen/Pjoqqp?editors=0010 */
    --color-amber-filter: invert(64%) sepia(61%) saturate(673%) hue-rotate(353deg) brightness(112%) contrast(105%);
    --color-second-filter: invert(37%) sepia(83%) saturate(742%) hue-rotate(174deg) brightness(94%) contrast(101%);

    /* Typography */
    --font-title: 'Archivo Narrow', sans-serif;
    --font-content: 'Archivo Narrow', sans-serif;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.2rem;
    --body-font-size: 1rem;
    --small-font-size: .8rem;

    /* Layout */
    --header-height: 80px;
    --max-width: 1000px;
    --gutter: 1em;
}


/*-----------------------*\
    $Base
\*-----------------------*/
*,
*::after,
*::before { box-sizing: border-box; }
body {
    font-size: var(--body-font-size);
    font-family: var(--font-content);
    color: var(--color-text);
    background-color: var(--color-bg);
}
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
a { 
    color: var(--color-text);
    text-decoration: none; 
}
h1,
h2,
h3,
h4,
h5,
h6 { 
    margin-top: 0;
    font-family: var(--font-title); 
    text-transform: uppercase;
}
p {
    margin-top: 0;
    font-family: var(+--font-content);
    font-weight: 500;
}
h1 { font-size: var(--h1-font-size); }
h2 { font-size: var(--h2-font-size); }
h3 { font-size: var(--h3-font-size); }


/*-----------------------*\
    $Layout
\*-----------------------*/
.l-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: var(--max-width);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.l-section {
    margin-bottom: 6rem;
}
.center-block {
    margin-left: auto;
    margin-right: auto;
}
.center-content { text-align: center; }


/*-----------------------*\
    $Icons
\*-----------------------*/
.icon-container {
    display: inline-flex;
    align-items: center;
}
    .icon-container > [class^=icon-] {
        display: flex;
        align-items: center;
        border-radius: .3rem;
        margin-right: .5em;
        padding: .5em;
        background-color: var(--color-second2);
    }
    .icon-container > [class*=icon-]::before {
        --width: 1.5em;
        content: "";
        display: inline-block;
        width: var(--width);
        height: var(--width);
        filter: var(--color-second-filter);
    }
    /* Card component variation */
    .icon-container > .icon__block {
        display: flex;
        flex-direction: column;
    }
    .icon__block .icon__text {
        margin: .3em;
    }
    .icon__block .icon__text:first-child {
        font-size: 1.2em;
        opacity: .8;
    }
    .icon__block .icon__text:last-child {
        font-size: 1.3em;
    }

.icon-clock::before {
    content: "";
    background-image: url("../icons/icon-clock.svg");
}
.icon-menu-toggle::before {
    content: "";
    background-image: url("../icons/icon-menu-toggle.svg");
}
.icon-security::before {
    content: "";
    background-image: url("../icons/icon-security.svg");   
}
.icon-star::before {
    content: "";
    background-image: url("../icons/icon-star.svg");
}
.icon-location::before {
    content: "";
    background-image: url("../icons/icon-location.svg");
}
.icon-date::before {
    content: "";
    background-image: url("../icons/icon-date.svg");
}
.icon-syringe::before {
    content: "";
    background-image: url("../icons/icon-syringe.svg");
}
.icon-virus::before {
    content: "";
    background-image: url("../icons/icon-virus.svg");
}
.icon-people::before {
    content: "";
    background-image: url("../icons/icon-people.svg");
}
.icon-immunity::before {
    content: "";
    background-image: url("../icons/icon-immunity.svg");
}
.icon-x-square::before {
    content: "";
    background-image: url("../icons/icon-x-square.svg");
}
.icon-data::before {
    content: "";
    background-image: url("../icons/icon-data.svg");
}
.icon-success::before {
    content: "";
    background-image: url("../icons/icon-success.svg");
}
.icon-heart::before {
    content: "";
    background-image: url("../icons/icon-heart.svg");
}
.icon-down-arrow::before {
    content: "";
    background-image: url("../icons/icon-down-arrow.svg");
}
.icon-call::before {
    content: "";
    background-image: url("../icons/icon-call.svg");
}
.icon-chat::before {
    content: "";
    background-image: url("../icons/icon-chat.svg");
}
.icon-camera::before {
    content: "";
    background-image: url("../icons/icon-camera.svg");
}
.icon-message::before {
    content: "";
    background-image: url("../icons/icon-message.svg");
}


/*-----------------------*\
    $Title line
\*-----------------------*/
.line {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
    .line::after {
        content: '';
        border-radius: .3em;
        position: absolute;
        right: 0;
        background-color: var(--color-second);
        opacity: .2;
        width: 30%;
        height: 1.5px;
    }
    .line--left {
        justify-content: flex-end;
    }
    .line--left::after {
        left: 0;
    }


/*-----------------------*\
    $Button
\*-----------------------*/
.button {
    display: inline-block;
    border-radius: .3em;
    padding: .6em 1.8em .6em;
    color: #fff;
    background-color: var(--color-first);
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    box-shadow: rgba(0,0,0, .1) 0 .3em .3em;
    transition: all .3s;
}
    .button:active { 
        transform: scale(.96); 
    }
    .button:hover {
        background-color: var(--color-second);
    }


/*-----------------------*\
    $Card
\*-----------------------*/
.card {
    background-color: #fff;
    border-radius: .4rem;
    padding: 1em;
    box-shadow: rgba(0,0,0, .1) 0 .6em 1em;
}
    .card__toggle {
        display: none;
    }


/*-----------------------*\
    $Grid
\*-----------------------*/
.grid {
    --columns-number: 2;
    --gutter: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gutter);
}
    .grid__item {
        flex-basis: calc(100% / var(--columns-number) - var(--gutter));
    }

/*-----------------------*\
    $Header
\*-----------------------*/
.main-header {
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background-color: #fff;
    z-index: 100;
}
    .main-header__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .main-header__block > .main-header__button {
        display: none;
    }
    .main-logo { 
        font-size: calc(var(--header-height) / 2);
        color: var(--color-second);
    }
    .icon-menu-toggle {
        cursor: pointer;
    }
    .icon-menu-container {
        margin-right: 0;
    }
    .icon-menu-toggle:active { 
        transform: scale(.89); 
    }


/*-----------------------*\
    $Nav
\*-----------------------*/
.main-nav {
    --padding: 2em;
    --vw: 70vw;
    position: fixed;
    right: calc(var(--vw) * -1);
    top: var(--header-height);
    bottom: 0;
    padding-left: var(--padding);
    padding: var(--padding);
    background-color: var(--color-text);
    width: var(--vw);
    transition: right .3s;
}
    .menu {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        display: flex;
        flex-direction: column;
    }
    .menu__item {
        position: relative;
        list-style-type: none;
    }
    .menu__item {
        display: block;
        margin-bottom: 1em;
    }
    .menu__link {
        color: var(--color-bg); 
        transition: all .3s;
    }
    .menu__link:hover {
        color: var(--color-second)
    }
    .menu__link:hover::before {
        content: '';
        position: absolute;
        top: 1.7em;
        bottom: 0;
        border-radius: .3em;
        background-color: var(--color-second);
        height: .2em;
        width: 50%;
    }
    .show-menu {
        right: 0
    }
    .main-nav > .main-header__button {
        width: 100%;
    }


/*-----------------------*\
    $Banner
\*-----------------------*/
.banner {
    position: relative;
    padding: 
        calc(var(--header-height) + 3em) 2em  
        calc(var(--header-height) * 0 + 3em);
    color: #fff;
}
    .banner__container-left {
        margin-bottom: 4em;
    }
    .banner__hero-color {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: .5;
        background-color: #000;
    }
    .banner__hero-image {
        position: absolute;
        top: 0;
        left: 0; 
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .banner__content {
        position: relative;
    }
    .banner__description {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2.5em;
    }
    .banner__container-tags {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: var(--gutter);
    }
    .banner__container-left .icon-container > [class^=icon-] {
        background-color: var(--color-amber2);
    }
    .banner__container-left .icon-security::before,
    .banner__container-left .icon-star::before {
        filter: var(--color-amber-filter);
    }

/*-----------------------*\
    $Schedule
\*-----------------------*/
.schedule {
    width: 100%;
    color: var(--color-text);
    text-align: left;
}
    .schedule__text {
        margin-bottom: 1em;
        color: #fff;
    }
    .card-schedule {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gutter);
    }
    .card-schedule__button {
        padding: 1em 3em;
        width: 100%;
    }


/*-----------------------*\
    $Organizations
\*-----------------------*/
.organizations {
    --gutter: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gutter);
    padding-top: calc(var(--header-height) - 3em);
}
    .organizations__image {
        --width: 25%;
        display: block;
        opacity: .5;
        filter: var(--color-second-filter);
        width: calc(var(--width) - var(--gutter));
        height: calc(var(--width) - var(--gutter));
        transition: all .3s;
        cursor: pointer
    }
    .organizations__image:hover {
        filter: initial;
        opacity: initial;
    }


/*-----------------------*\
    $Vaccine info
\*-----------------------*/
.vaccine-info {}
    
    .vaccine-info__description {}
    .card-info {
        box-shadow: initial;
        transition: all .3s;
    }
    .card-info:hover {
        box-shadow: rgba(0,0,0, .1) 0 .6em 1em;
    }
    .card-info [class*="icon-"] {
        margin-bottom: .4em;
    }
    .vaccine-info .line::after {
        width: 20%;
    }


/*-----------------------*\
    $Prepations info
\*-----------------------*/
.preparations-info {}
    .preparations-info__image {
        display: none;
    }
    .preparations-info .icon-down-arrow {
        margin-left: auto;
        cursor: pointer;
    }
    .preparations-info .icon-down-arrow::before {
        --width: .5em;
    }
    .preparations-info .icon-container {
        display: flex;
    }
    .preparations-info .card {
        box-shadow: initial;
        margin-bottom: var(--gutter);
        transition: all .3s;
    }
    .preparations-info .card:hover {
        box-shadow: initial;
        margin-bottom: var(--gutter);
        box-shadow: rgba(0,0,0, .1) 0 .6em 1em;
    }


/*-----------------------*\
    $Contact
\*-----------------------*/
.contact {}
    .contact .grid {
        --gutter: .5em;
        --columns-number: 1;
    }
    

/*-----------------------*\
    $Card Contact
\*-----------------------*/
.card-contact {
    padding: 1.4em;
    box-shadow: initial;
    transition: all .3s;
}
    .card-contact .icon__text:first-child {
        margin-top: 0;
        margin-bottom: 0;
    }
    .card-contact .icon__text:last-child {
        font-size: .9em;
    }
    .card-contact__text {
        opacity: .6;
    }
    .card-contact:hover .button {
        color: #fff; 
        background-color: var(--color-second);
        box-shadow: rgba(0,0,0, .2) 0 .4em .8em;
    }    
    .card-contact .icon-container {
        margin-bottom: var(--gutter);
    }
    .card-contact__button {
        width: 100%;
        box-shadow: initial;
        color: var(--color-second);
        background-color: var(--color-second2);
    }
    .card-contact:hover {
        box-shadow: rgba(0,0,0, .1) 0 .3em .6em;
    }
    

/*-----------------------*\
    $Footer
\*-----------------------*/
.main-footer {
    padding: 2em 1em;
    background-color: var(--color-second2);
    text-align: center;
}
    .main-footer > div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .main-footer__container {
        width: 72%;
    }
    .main-footer__text,
    .main-footer__description {
        opacity: .7;
    }
    .main-footer .main-logo {
        display: block;
        margin-bottom: calc(var(--gutter) - .8em);
    }
    .main-footer__sub-section {
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .main-footer__sub-section:not(:last-child) {
        margin-bottom: var(--gutter);
    }
    .main-footer__text {
        margin-bottom: .5em;
    }


@media screen and (min-width: 768px) {
    .main-header__block {
        justify-content: initial;
    }
    .icon-container > .icon-menu-toggle {
        display: none;
    }
    .main-header__block > .main-header__button {
        display: initial;
    }
    .main-nav {
        position: initial;
        margin-left: auto;
        padding: 0;
        background-color: transparent;
        width: initial;
        transition: right .3s;
    }
        .menu {
            display: flex;
            flex-direction: initial;
        }
        .menu__item {
            margin-right: 2em;
            margin-bottom: 0;
            padding-bottom: 0;
            font-weight: 600;
        }
        .menu__link {
            color: var(--color-text);
            opacity: .7;
        }
        .menu__link:hover::before {
            width: 100%;
        }
        .main-nav > .main-header__button {
            display: none;
        }
}