/*-----------------------*\
    $Variables
\*-----------------------*/
:root {
    /* Color palette */
    --color-first: #2196f3;
    --color-second: #1976d2;
    --color-amber: #ffc107;
    --color-bg: #e3f2fd;
    --color-text: #263238;

    /* Typography */
    --font-title: 'Archivo Narrow', sans-serif;
    --font-content: 'Archivo Narrow', sans-serif;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.2rem;
    --body-font-size: 1rem;
    --small-font-size: .8rem;

    /* Layout */
    --header-height: 80px;
    --max-width: 1000px;
    --gutter: 1em;
}


/*-----------------------*\
    $Base
\*-----------------------*/
*,
*::after,
*::before { box-sizing: border-box; }
body {
    font-size: var(--body-font-size);
    font-family: var(--font-content);
    color: var(--color-text);
    background-color: var(--color-bg);
}
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
a { 
    color: var(--color-text);
    text-decoration: none; 
}
h1,
h2,
h3,
h4,
h5,
h6 { 
    margin-top: 0;
    font-family: var(--font-title); 
    text-transform: uppercase;
}
p {
    margin-top: 0;
    font-family: var(+--font-content);
    font-weight: 500;
}
h1 { font-size: var(--h1-font-size); }
h2 { font-size: var(--h2-font-size); }
h3 { font-size: var(--h3-font-size); }


/*-----------------------*\
    $Layout
\*-----------------------*/
.l-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: var(--max-width);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.l-section {
    margin-bottom: 6rem;
}
.center-block {
    margin-left: auto;
    margin-right: auto;
}
.center-content { text-align: center; }


/*-----------------------*\
    $Icons
\*-----------------------*/
[class*=icon-]::before {
    --color-black-icon: invert(16%) sepia(17%) saturate(743%) hue-rotate(155deg) brightness(92%) contrast(89%);
    --width: 1.5em;
    content: "";
    display: inline-block;
    margin-right: .4em;
    width: var(--width);
    height: var(--width);
}
    [class*=icon-]:hover::before,
    [class*=icon-]:focus::before {
        filter: var(--color-black-icon);
    }

.icon-menu-toggle::before {
    content: "";
    background-image: url("../icons/icon-menu-toggle.svg");
    background-repeat: no-repeat;
    filter: var(--color-black-icon);
}


/*-----------------------*\
    $Button
\*-----------------------*/
.button {
    display: inline-block;
    border-radius: .3em;
    padding: .6em 1.8em .6em;
    color: #fff;
    background-color: var(--color-first);
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    box-shadow: rgba(0,0,0, .1) 0 .3em .3em;
    transition: all .3s;
}
    .button:active { 
        transform: scale(.96); 
    }
    .button:hover {
        background-color: var(--color-second);
    }


/*-----------------------*\
    $Header
\*-----------------------*/
.main-header {
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background-color: var(--color-bg);
}
    .main-header__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .main-header__block > .main-header__button {
        display: none;
    }
    .main-logo { 
        font-size: calc(var(--header-height) / 2);
        color: var(--color-first);
    }
    .icon-menu-toggle {
        cursor: pointer;
    }
    .icon-menu-toggle:active { 
        transform: scale(.89); 
    }


/*-----------------------*\
    $Nav
\*-----------------------*/
.main-nav {
    --padding: 2em;
    --vw: 70vw;
    position: fixed;
    right: calc(var(--vw) * -1);
    top: var(--header-height);
    bottom: 0;
    padding-left: var(--padding);
    padding: var(--padding);
    background-color: var(--color-text);
    width: var(--vw);
    transition: right .3s;
}
    .menu {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        display: flex;
        flex-direction: column;
    }
    .menu__item {
        position: relative;
        list-style-type: none;
    }
    .menu__item {
        display: block;
        padding-bottom: 1em;
        margin-bottom: 1em;
    }
    .menu__link {
        color: var(--color-bg); 
        transition: all .3s;
    }
    .menu__link:hover {
        color: var(--color-second)
    }
    .menu__link:hover::before {
        content: '';
        position: absolute;
        bottom: 0;
        border-radius: .3em;
        background-color: var(--color-second);
        height: .2em;
        width: 50%;
    }
    .show-menu {
        right: 0
    }
    .main-nav > .main-header__button {
        width: 100%;
    }